.header {
    border-bottom: 1px solid #e9dfdf;
    display: flex;
    height: 75px;
}
.login {
    border: 1px solid #e6e6e6;
    color: #222;
    background-color: #fff;
    display: inline-block;
    transition: all .3s;
    text-align: center;
    cursor: pointer;
    font: 400 13.3333px Arial;
    align-items: flex-start;
    text-rendering: auto;
    padding: .5em .8em;
    font-size: .875rem;
    font-weight: 600;
    margin-right: .75rem;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: button;
    display:block;
    position: absolute;
    right: 120px;
    border: 1px solid rgb(231, 216, 216);
    padding: 10px;
    text-decoration: none;
}

.signup {
    border: 1px solid #e6e6e6;
    color: #222;
    background-color: #fff;
    display: inline-block;
    transition: all .3s;
    text-align: center;
    cursor: pointer;
    font: 400 13.3333px Arial;
    align-items: flex-start;
    text-rendering: auto;
    padding: .5em .8em;
    font-size: .875rem;
    font-weight: 600;
    margin-right: .75rem;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: button;
    display: block;
    position: absolute;
    right: 0px;
    border: 1px solid rgb(231, 216, 216);
    padding: 10px;
    text-decoration: none;
}

.menu {
    display: flex;
    margin-right: .75rem;
    align-items: center;
}
.title {
    display: flex;
    font-size: 32px; 
    align-items: center;
    text-decoration: none;
    padding-left: 20px
}
