.cardMedia {
  width: 345px;
  height: 145px;
}

.cardGrid {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 375px;
  /* border: 1px solid #e99535; */
}

.pagination {
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}
.container {
  align-items: center;
}

.btnStyle {
    border: 1px solid #e99535;
    color: #222;
    background-color: #fff;
    display: inline-block;
    transition: all .3s;
    text-align: center;
    cursor: pointer;
    font: 400 13.3333px Arial;
    align-items: flex-start;
    text-rendering: auto;
    padding: .5em .8em;
    font-size: .875rem;
    font-weight: 600;
    margin-right: .75rem;
    border-radius: 5px;
    height: 40px;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: button;
}

h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.5em;
}

.checkBoxFrame {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20%;
  position: relative  ;
  display: none;
  border: 1px solid #e99535;
  width: 750px;
  /* height: 300px; */

}

.checkBoxFrameALL {
  padding-top: 20px;
}

.btnFilter {
  margin-left:  20px;
  border: 1px solid #f59595;
  color: #222;
  background-color: #fff;
  /* position: relative; */
  transition: all .3s;
  text-align: center;
  cursor: pointer;
  font: 400 13.3333px Arial;
  align-items: flex-start;
  text-rendering: auto;
  padding: .5em .8em;
  font-size: .875rem;
  font-weight: 600;
  /* margin-right: .75rem; */
  border-radius: 5px;
  height: 30px;
  width: 75px;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: button;
  display: block;
  right: 0px;
  padding: 10px;
  text-decoration: none;

}

.chckBoxFilter {
  display: flex;
  -webkit-appearance: button;
  width: auto;
  height: 25px;
  margin-top: 20px;
  text-align: center;
  margin-left: 10px;
}

.blockBtnFilter {
  margin-top: 10px;
  display: flex;
}

.blockButtonFilter {
  display: flex;
  text-align: center;
}
.filterButtonGroup {
  display: flex;
}